<!DOCTYPE HTML>
<html lang = "en">
<head>
<meta charset = "utf-8">
<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

  <title>www.ExpertParking.com</title>
  <link rel ="stylesheet" type ="text/css" href = "static/styles/homepage.css">
  </head>
  <body>
    <header id ="navHeading">

      <ul>
        <li class = "active"><a href = "{{ url_for('home')}}">Home</a><i class ="fa fa-fw fa-home"></a></li>
        <li><a href = "{{ url_for('contactUs')}}">Contact Us</a><i class ="fa fa-fw-envelope"</a></li>
        <li><a href = "{{ url_for('signUp')}}">Sign Up</a></li>
      <div id ="homepageText">
        Expert Parking
        </div>
      </header><br><br>
      <div id = "secondpage">
      <header id ="pageHeading">
      About Us
      </header><br><br>
    </body>
    <br><br>

    <h1 class = "header">
      Who we are
      </h1>
      <br><br>
      <p1>
        We are a small parking business located in the heart of Downtown New Haven and were founded in 1993.<br>
        Our mission is to provide a different type of parking experience; one which has our open-air concept
        </p1><br><br>
        <h2 class = "header">
          Open-Air
          </h2>
          <br><br>
          <p2>
            The open-air concept is unique to us only and it aims to provide a speedy way of entering and exiting our lot when you're in a hurry.<br>
            And the fact that this is not a garage means that there is no hassle when navigating the lot.
            </p2>
            </div>
          <img src ="static/myPic.jpg" alt ="Our Founder" id ="myPic">
        <div id ="thirdPage">
            Our Founder
          <p class ="paraClass">
            DJ Khaled is the founder and CEO of Expert Parking, coming from a wealthy family,<br>
            Khaled went around the city of New Haven looking for business opportunities.<br>
            He found success when he saw a small plot of land (.90 acres to be exact) that he<br>
             turned into a parking business.<br>
          </p>

          </div>
          <div id ="parkingRates">

                Parking Rates
          </div>
              <p class ="paraClass">
                <b>Daily Rate:</b> $10.00 (flat rate)<br><br>
                  <b>Monthly Rate</b> $150.00 (our best value for those staying long term)<br><br>
                  <b>Semesterly Rate:</b> $200.00 (for college students only)
              </p>


      &copy Copyright Expert Parking 2020 all rights reserved

</body>
</html>
