* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#navHeading{
  background-image: url("NewHavenDT.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#pageHeading {
  font-family: Verdana;
  font-size: 40px;
  text-shadow: 1px 1px solid white;
  color: white;
  font-weight: bolder;
  text-align: center;
  background-color: black;
  background-size: 50px 25px;
  height: 50vh;

}

.header{
  font-family: trebuchet;
  font-size: 30px;
  text-shadow: 4px 4px solid black;
  color: white;
  font-weight: bolder;
  text-align: justify;
  background-color: black;
  line-height: 1.0;

}

ul {
  float: left;
  list-style-type: None;
  margin-top: 25px;
  font-weight: bolder;
  color: white;
}
ul li{
  display: inline-block;
  color: white;
  background-color: black;
}

ul li a{
  text-decoration: None;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.2s ease;


}
ul li a:hover{
  background-color: #fff;
  color: #000;
}
ul li.active a{
  background-color: #fff;
  color: #000;
}
#secondpage{
  background-color: black;
  color: white;
  line-height: 2.0;

}
#myPic {
  width: 20%;
  height: auto;
  border-radius: 50%;
  image-orientation:
  padding: 5px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%);
  position: relative; left: 100px; top: 100px;


}
/* Position text in the middle of the page/image */
#homepageText {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-size: 50px;
  font-weight: bolder;
  border: None;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
  opacity: 0.7;
}
#thirdPage{
  height: 50vh;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bolder;
  font-size: 20px;

}
.paraClass{
  font-weight: normal;
  line-height: 2.0;
  tab-size: 4;
  padding: 100px;
  text-align: justify;
  font-size: 18px;

}

#parkingRates{
  margin-top: 50px;
  margin-bottom: -50px;
  margin-left: 40px;
  margin-right: 50px;
  font-weight: bolder;
  font-size: 20px;
}
